# EmailJS Configuration
# 1. Create an account at https://www.emailjs.com/
# 2. Add an Email Service (pointing to kaustuap555@gmail.com)
# 3. Create an Email Template
# 4. Copy the following keys from your dashboard

NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_or8tj63
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_4oyzfql
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=QbpJ0ZFjyu8qXqlIb
